<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a> 

    <!-- Ordering is incorrect if we do this.	
    {% for my_page in site.pages %}
      {% if my_page.active %}
        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
    -->

    <a href="{{ site.baseurl }}{% link about.md %}">ABOUT</a>
    <a href="{{ site.baseurl }}{% link projects.md %}">PROJECTS</a>
    <a href="{{ site.baseurl }}{% link contact.md %}">CONTACT</a>
    <a href="{{ site.baseurl }}{% link cryptography-exercise-sheet.pdf %}">CV</a>

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>

  </nav>

</header>
